/* Global Styles */
* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
:root {
    --light-theme-font: black;
    --light-theme-background: white;
    --dark-theme-font: #cccccc;
    --dark-theme-background: #333333;
    --logo-color: #070609;
    --shadow--color: rgba(0, 0, 0, 0.5);
    --shadow-light-color: rgba(0, 0, 0, 0.127);
    --light-font-style: 1.5vw;
    --medium-font-style: 2vw;
    --large-font: 4vw;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-theme-background);
    color: var(--light-theme-font);
    background-image: 
        radial-gradient(circle at 10% 10%, rgba(127, 0, 255, 0.4) 40%, transparent 10%),
        radial-gradient(circle at 30% 20%, rgba(255, 0, 255, 0.4) 40%, transparent 10%),
        radial-gradient(circle at 50% 40%, rgba(0, 127, 255, 0.4) 40%, transparent 70%),
        radial-gradient(circle at 70% 60%, rgba(72, 0, 255, 0.4) 40%, transparent 70%),
        radial-gradient(circle at 0% 100%, rgba(72, 0, 255, 0.5) 40%, transparent 10%),
        radial-gradient(circle at 90% 80%, rgba(127, 0, 255, 0.4) 40%, transparent 10%);
    background-size:cover; /* Ensures the background covers the container */
    background-repeat:repeat; /* Prevents repeating */
    background-attachment:fixed; /* Keeps background fixed during scrolling */
    border-radius: 2rem;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased; /* Smoother font rendering */
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbars for all browsers */
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-theme-background) !important;
        color: var(--dark-theme-font) !important;
    }

    .navbar {
        background-color: var(--dark-theme-background) !important;
        color: var(--dark-theme-font) !important;
    }

    .navbar .nav-links {
        background-color: var(--dark-theme-background) !important;
        color: var(--dark-theme-font) !important;
    }
}

li {
    list-style: none;
}

/* Navigation Bar Styles */
.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light-theme-background);
    padding: 1rem 1.5rem;
    z-index: 999;
    text-wrap: nowrap;
}

/* Container within the Navbar */
.navbar .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* Navigation Links */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-links a {
    color: var(--light-theme-font);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0.5rem 0.75rem;
}

/* Underline link on hover */
.nav-links a:hover {
    text-decoration: underline;
}

/* Logo Styles */
.nav-logo a {
    color: var(--logo-color);
    font-size: 1rem;
    font-weight: 400;
    text-transform: lowercase;
    text-decoration: none;
}


/* Hide checkbox for the menu toggle */
#menu-toggle {
    display: none;
}

/* Hamburger menu icon */
.menu-icon {
    display: none;
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 900px) {
    .navbar .container {
        flex-direction: column;
    }

    .navbar .nav-links {
        width: 100%;
        display: none;
        flex-direction: column;
    }

    .navbar .menu-icon {
        display: block;
        color: var(--logo-color);
        font-size: 1.25rem;
    }

    /* Show links when checkbox is checked */
    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}

/* Content part begins here--> */

/* Section Styles */
section {
    width: 90vw;
    min-height: 90svh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: 
        radial-gradient(circle at 10% 10%, rgba(127, 0, 255, 0.4) 40%, transparent 80%),
        radial-gradient(circle at 30% 20%, rgba(255, 0, 255, 0.4) 40%, transparent 80%),
        radial-gradient(circle at 50% 40%, rgba(0, 127, 255, 0.4) 40%, transparent 80%),
        radial-gradient(circle at 70% 60%, rgba(72, 0, 255, 0.4) 40%, transparent 80%),
        radial-gradient(circle at 0% 100%, rgba(72, 0, 255, 0.5) 40%, transparent 80%),
        radial-gradient(circle at 90% 80%, rgba(127, 0, 255, 0.4) 40%, transparent 80%);
    scroll-margin-top: 60px;
    margin: auto;
    margin-top: 4rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5rem;
    background-color: inherit;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
}

@media (max-width: 650px) {
    section {
        scroll-margin-top: 80px;
        padding: 2rem;
    }
}
@media (max-width: 900px) {
    .home {
        padding-top: 90px;
        margin-top: 80px;
    }
}

.home .container {
    display: inherit;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home .quote i {
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-wrap: nowrap;
    padding: 1rem;
    box-shadow: 0 0 .5rem .1rem var(--shadow-light-color);
}

.home .quote {
    opacity: 0;
    transform: translateY(100%);
    animation: slideUp 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.home .intro {
    padding-top: 5rem;
}
.intro-part p {
    padding: 10px;
}

.home .intro .intro-part {
    font-style: oblique;
    font-weight: bolder;
    opacity: 0;
    transform: translateY(100%);
}

@media (prefers-color-scheme: dark) {
    .home .intro .intro-part {
        animation: slideUp 1s ease-in-out forwards, font-color-change-light-to-dark 5s ease-in-out forwards;
    }
}

@media (prefers-color-scheme: light) {
    .home .intro .intro-part {
        animation: slideUp 1s ease-in-out forwards, font-color-change-dark-to-light 5s ease-in-out forwards;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes font-color-change-light-to-dark {
    from {
        color: var(--light-theme-font);
    }
    to {
        color: var(--dark-theme-font);
    }
}

@keyframes font-color-change-dark-to-light {
    from {
        color: var(--dark-theme-font);
    }
    to {
        color: var(--light-theme-font);
    }
}



/* New body styling */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.intro #salutation {
    animation-delay: 1s;
    font-size: 4vw;

}

.intro #name {
    position: relative;
    left: 100px;
    animation-delay: 2s;
    font-size: 4vw;

}

.intro #focus {
    animation-delay: 3s;
    font-size: 2vw;

}

.intro #skill-1 {
    animation-delay: 4s;
    font-size: 1vw;
    font-weight: 500;

}
.intro #skill-2 {
    animation-delay: 4.2s;
    font-size: 1vw;
    font-weight: 500;
}
.intro #skill-3 {
    animation-delay: 4.4s;
    font-size: 1vw;
    font-weight: 500;
}
.intro #ending {
    animation-delay: 0s;
    font-size: 1vw;
    font-weight: 1000;
}


/* About Section Styling */
.about {
    min-height: unset;
    height: unset;
}

.about .container {
    height: calc(100vh / 1.9);
    display: inherit;
    flex-direction: column;
    justify-content: start;
    background: transparent;
    background-color: transparent;
    padding-top: 1rem;
    overflow: hidden;
    border-radius: inherit;
    transition: max-height 0.5s ease; /* Smooth transition for height change */
}

.toggle-checkbox {
    display: none; /* Hide the checkbox */
}
#toggle-about:checked + .expand-button .container {
    min-height: 90svh;
    height: fit-content; /* Expand to full height */
}
.about .expand-button {
    border-radius: inherit;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    cursor: default;
}
.about .about-content {
    display: flex;
    flex-direction: column;
    flex: 1; /* Makes about-content fill the available space */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.about-content p {
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    letter-spacing: 1px;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
    border-radius: 2rem;
}

span {
    font-weight: bold;
    font-style: oblique;
}


/* experience Section Styling */
.experience {
    min-height: unset;
}

.experience .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: inherit;
    padding-top: 1rem;
    border-radius: inherit;
    padding: 2rem;
}
.experience .experience-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5rem;
    padding: 2rem;
    margin-top: 1rem;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
}
.experience .experience-item p,  .experience .experience-item li {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: left;
}
.experience .experience-item h3 {
    letter-spacing: 1px;
    padding: 1rem;
}
.title-year {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    gap: 1rem;
}

/* projects styling */

.projects .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 50svh;
    width: inherit;
    margin-top: 1rem;
    border-radius: inherit;
    background-color: transparent;
    background: inherit;
}
.project-item {
    width: 90%;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
    border-radius: 5rem;
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

}

.project-item * {
    padding-top: 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
}
.projects ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.projects ul li {
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
    padding: 2rem;
    border-radius: 5rem;
}

/* skills styles */

.skills {

    height: fit-content;
}

.skills .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    min-height: inherit;
    width: 90%;
    margin-top: 1rem;
    border-radius: inherit;
    background-color: transparent;
    background: inherit;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    gap: 1rem;
    padding: 2rem;
}

.skills li {
    background-color: transparent;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
    text-align: center;
    font-size: 1rem;
}
@media (max-width: 900px) {
    .skills ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .skills ul {
        grid-template-columns: 1fr;
    }
}

/* education section styles */

.education {

    height: fit-content;
}

.education .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    min-height: inherit;
    width: 90%;
    margin-top: 1rem;
    border-radius: inherit;
    background-color: transparent;
    background: inherit;
    padding: 1rem;
}
.education-item {
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 5rem;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
}

.education-item p {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: left;
    width: 100%;
}

/* contact styling */

.contact {
    min-height: 90svh;
    height: fit-content;
}

.contact .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: inherit;
    min-height: inherit;
    width: 90%;
    margin-top: 1rem;
    border-radius: inherit;
    background-color: transparent;
    background: inherit;
    padding: 1rem;
}


.contact p {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: left;
    width: 100%;
    border-radius: 5rem;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
}

/* resume section style */

.resume {
    min-height: 90svh;
    height: fit-content;
}

.resume .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: inherit;
    min-height: inherit;
    width: 90%;
    margin-top: 1rem;
    border-radius: inherit;
    background-color: transparent;
    background: inherit;
    padding: 1rem;
}


.resume p {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: left;
    width: 100%;
    border-radius: 5rem;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
}

/* reference section style */

.references {
    min-height: 90svh;
    height: fit-content;
}

.references .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: inherit;
    min-height: inherit;
    width: 90%;
    margin-top: 1rem;
    border-radius: inherit;
    background-color: transparent;
    background: inherit;
    padding: 1rem;
}


.references p {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: left;
    width: 100%;
    border-radius: 5rem;
    box-shadow: 0 0 5rem .5rem var(--shadow--color);
}